@TOWER
	ID     6
	PRICE  500
	SYMBOL F
	WIDTH  1
	HEIGHT 1
	COLOUR 9
	HEALTH 10
	RADIUS 10
	ADELAY 25
	DAMAGE 50
-
@TOWER
	ID     1
	PRICE  600
	SYMBOL W
	WIDTH  4
	HEIGHT 4
	COLOUR 4
	HEALTH 500
	RADIUS 5
	ADELAY 25
	DAMAGE 20
-	
@TOWER
	ID     2
	PRICE  75
	SYMBOL Q
	WIDTH  3
	HEIGHT 1
	COLOUR 9
	HEALTH 80
	RADIUS 5
	ADELAY 25
	DAMAGE 2
-
@TOWER
	ID     3
	PRICE  75
	SYMBOL A
	WIDTH  3
	HEIGHT 3
	COLOUR 5
	HEALTH 250
	RADIUS 3	
	ADELAY 25
	DAMAGE 2
-	
@TOWER
	ID     4
	PRICE  200
	SYMBOL B
	WIDTH  2
	HEIGHT 2
	COLOUR 2
	HEALTH 60
	RADIUS 3
	ADELAY 6
	DAMAGE 1
-	
@TOWER
	ID     5
	PRICE  25
	SYMBOL X
	WIDTH  1
	HEIGHT 1
	COLOUR 8
	HEALTH 100
	RADIUS 3
	ADELAY 15
	DAMAGE 1
-	
@ENEMY
	ID     0
	SYMBOL O
	COLOUR 0
	HEALTH 5
	WDELAY 8
	WSTYLE 1
	RESIST 0	
	ATTACK 10
-	
@ENEMY
	ID     1
	SYMBOL W
	COLOUR 2
	HEALTH 10
	WDELAY 10
	WSTYLE 0
	RESIST 0	
	ATTACK 5
-
@ENEMY
	ID     2
	SYMBOL P
	COLOUR 5
	HEALTH 50
	WDELAY 15
	WSTYLE 1
	RESIST 3	
	ATTACK 8	
-	
@ENEMY
	ID     3
	SYMBOL #
	COLOUR 9
	HEALTH 5
	WDELAY 15
	WSTYLE 0
	RESIST 5	
	ATTACK 20	
-	
@MAP
ID 0
ENEMYSEQ 0,1,1,1,0,0,1,0,1,0,1,1,0,1,1,0,0,0,1,2 
KILLGOAL 12
TILES
 ###############################
 #....#.......#####............#
 #....#...................##...#
 #....#....###########....##...#
##....#....#         #....##...#
#E.........#         #....##...#
##....#....#         #....##...#
 #....#....###########....##...#
 #....#...................##...#
 #....#.......#####.......##...#
 ############################S##
                            ### 
-       
-       
@MAP
ID 1
ENEMYSEQ 0,3,3,3,1,2,3,3,0,1,3,2,0,1,3,3,1,0,2,0,3,3,3,0,2
KILLGOAL 10
TILES        
                ########
              ####....####
              #..........#
              #...####...#
              ###.####.########
#################.####.###...##
#.....#....#.......##.........#
#..#....#.#..###############..#
#.....#......#        ######.##
##.#.#.# ###########  #...##.#####
#........##.......E#  #.........S#
########.##.########  #...######## 
       #....#         #####
       #....#
       ######

-       
-       
@MAP
ID 2
ENEMYSEQ 0,3,3,3,1,2,3,3,0,1,3,2,0,1,3,3,1,0,2,0,3,3,3,0,2
KILLGOAL 10
TILES        
########## ########## ########## ########## 
#........# #..#.....###...#....# #......#.#
#..###...###...................###..#.....#
#..#S#.........#....###..............#....#
#........###........# #.....#..###........#
########## ########## ########## ####..####
                                    #..#
########## ########## ########## ####..#### 
#.....#..# #.#....#.###....#...# #..#.....#
#........###............#......###......#.#
#...#..........#....###..............#....#
##.....#.###........# #.....#..###........#
####..#### ########## ########## ##########
   #..#
####..#### ########## ########## ########## 
#.#......# #....#...###.....#..# #........#
#......#.###............#......###.#.#E#..#
#...#.........#.....###...#..........###..#
#........###.....#..# #........###........#
########## ########## ########## ##########
-       
-       